<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'demo.title'| translate}} </ion-title>
  </ion-toolbar>
</ion-header>
 