<ion-header>
  <ion-toolbar>
    <ion-title>{{detailsToDisplay['headerText']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="detailsToDisplay['multipleSelection']">
    <ng-container *ngFor="let item of detailsToDisplay['listOfRecordsToDisplay'];index as i" >
      <ion-item *ngIf="!(detailsToDisplay['fieldNameToValidate'] |hideElements:item[detailsToDisplay['fieldNameToValidate']]:detailsToDisplay['listOfRecordToHide'])">
      <ion-checkbox #check slot="start" (ionChange)="getCheckedItems(check?.checked,i,item)"></ion-checkbox>
  
      <ion-label>
        <ng-container *ngIf="detailsToDisplay['showSequence']">{{i+1}}.</ng-container>
        <ng-container *ngIf="detailsToDisplay['startText']">{{detailsToDisplay['startText']}}</ng-container>
        <ng-container *ngIf="detailsToDisplay['listOfFieldsNamesToDisplay'] && detailsToDisplay['listOfFieldsNamesToDisplay'].length as length">
          <ng-container *ngFor="let fieldName of detailsToDisplay['listOfFieldsNamesToDisplay']">
            {{item[fieldName]}} <ng-container *ngIf="length > 1">{{detailsToDisplay['seperator']}}</ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="detailsToDisplay['endText']">{{detailsToDisplay['endText']}}</ng-container>
  
  
      </ion-label>
      </ion-item>
  
    </ng-container>
  
   
    <ion-button  expand="block" fill="clear" shape="round" (click)="getListOfSelectedItems()">
      Done
     </ion-button>
  </ion-list>



  <ion-list *ngIf="!detailsToDisplay['multipleSelection']">
    <ng-container *ngFor="let data of detailsToDisplay['listOfRecordsToDisplay'];index as i">
      <ion-item  (click)="getSelectedItem(data)" *ngIf="!(detailsToDisplay['fieldNameToValidate'] |hideElements:data[detailsToDisplay['fieldNameToValidate']]:detailsToDisplay['listOfRecordToHide'])">
        <ion-label>
          <ng-container *ngIf="detailsToDisplay['showSequence']">{{i+1}}.</ng-container>
          <ng-container *ngIf="detailsToDisplay['startText']">{{detailsToDisplay['startText']}}</ng-container>
          <ng-container *ngIf="detailsToDisplay['listOfFieldsNamesToDisplay'] && detailsToDisplay['listOfFieldsNamesToDisplay'].length as length">
            <ng-container *ngFor="let fieldName of detailsToDisplay['listOfFieldsNamesToDisplay']">
              {{data[fieldName]}} <ng-container *ngIf="length > 1">{{detailsToDisplay['seperator']}}</ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="detailsToDisplay['endText']">{{detailsToDisplay['endText']}}</ng-container>
    
  
        </ion-label>
  
      
      </ion-item>
    </ng-container>
  </ion-list>


</ion-content>




