
<ng-container *ngIf="subForm" [formGroup]="subForm">
  <ng-container *ngIf="fGName && subForm">
    <ng-container [formGroupName] = "fGName">
      <ion-item *ngFor="let control of listOfFormControls[fGName]">
        <ion-label position="floating" >{{control.Label}}</ion-label>
        <ion-input [formControlName]="control.DataSource"></ion-input>
      </ion-item>
      
      <!-- <ion-item >
        <ion-label position="fixed" >Lot Label</ion-label>
        <ion-input [formControlName]="'Lot'"></ion-input>
      </ion-item> -->
    </ng-container>
  
  </ng-container>
</ng-container>
