<ion-header>
  <ion-toolbar>
    <ion-title>
      dashboard works!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <ion-item *ngFor="let moduleDetail of listOfModules">
      <ion-label>{{moduleDetail.label}}
        <ng-container *ngIf="(moduleDetail['status'] |getTransactionStatusOfModule: moduleDetail['queryToGetStatus'] |async )as moduleStatus">
          {{moduleDetail['textToDisplayBesideStatus']['forOpen']}} {{moduleStatus.openCount}}
          {{moduleDetail['textToDisplayBesideStatus']['forCompleted']}} {{moduleStatus.completedCount}},
          progress {{moduleStatus.progress}}%
        </ng-container>
      </ion-label>
    </ion-item>
   </ng-container>
</ion-content>




