<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank Project</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <div id="container">
    <strong>Ready to create an {{envVariables.env}} {{ pipeText | translate }} instance app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-item detail>
    <ion-label position="floating" >
      Standard Item with Detail Arrow
    </ion-label>
    <ion-input (ionChange)="presentModal()"></ion-input>

  </ion-item>
 
  
  <!-- <ion-item button  detail>
    <ion-label>
      Button Item with Detail Arrow
    </ion-label>
  </ion-item> -->
  <ng-container >
    <ion-item>
      <!-- <ion-label>Input (placeholder)</ion-label> -->
      <ion-input #d placeholder="Select Document" (ionChange)="getDocList(d)" [debounce]="700"></ion-input>
    </ion-item>
    <ng-container *ngIf="docList.length">
      <ion-list>
        <ion-list-header>
          <ion-label>
            Single Selection
          </ion-label>
        </ion-list-header>
      
        <ion-item>
          <ion-label>List Of Items </ion-label>
          <ion-select #s placeholder="Select One" (ionChange)="getDoc(s)">
            <ion-select-option *ngFor="let docDetail of docList" [value]="docDetail">{{docDetail?.ItemNumber}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>

 


  
  <!-- <ion-item position="fixed" detail>
    <ion-label>
      Anchor Item with no Detail Arrow
    <ion-input ></ion-input>
    </ion-label>

  </ion-item> -->
  <ng-container *ngIf="selectedItemOfPo">

    <ng-container [formGroup]="mainFormgroup">
      <ng-container *ngIf="mainFormgroup || (mainFormgroup.valueChanges |async) as mainFrm">
        <ng-container *ngFor="let subGrp of subGroupNameList">
          <ng-container *ngIf="subGrp && subGrp[1] === 'subInvLoc'">
            <app-common-sub-inv-loc-selection [formGroupName] = "subGrp[1]" [isSubinventoryRestricted]="selectedItemOfPo.IsSubinventoryRestricted |getBooleanOnTruthy" [isLocatorRestricted]="selectedItemOfPo.IsLocatorRestricted |getBooleanOnTruthy" [formValues]="mainFrm.value['subInvLoc']" [mainFormValues]="mainFrm.value" [formControlList]="listOfFormControlsOnSubgrp">
              
            </app-common-sub-inv-loc-selection>
          </ng-container>
          <!-- <ng-container *ngIf="subGrp && subGrp[1] === 'lotNSerial'">
  <app-common-lot-serial-selection [formGroupName] = "subGrp[1]" [formValues]="mainFrm.value['lotNSerial']" [mainFormValues]="mainFrm.value" [formControlList]="listOfFormControlsOnSubgrp">
  
  </app-common-lot-serial-selection>
          </ng-container> -->
          <ng-container *ngIf="subGrp && subGrp[1] === 'destSubInvLoc'">
            <ng-container *ngIf="((mainFormgroup |getFormStatus:'subInvLoc').statusChanges |async) as subInvFormStatus">
              <ion-item detail>
                <ion-label position="floating" >
                  {{subInvFormStatus}}
                </ion-label>
                <ion-input ></ion-input>
            
              </ion-item>
              <ng-container *ngIf="subInvFormStatus |getBooleanOnTruthy">
              <app-common-dest-sub-inv-loc-selection [formGroupName] = "subGrp[1]" [formValues]="mainFrm.value['lotNSerial']"
               [mainFormValues]="mainFrm.value" [formControlList]="listOfFormControlsOnSubgrp" [isSubinventoryRestricted]="selectedItemOfPo.IsSubinventoryRestricted |getBooleanOnTruthy" 
               [isLocatorRestricted]="selectedItemOfPo.IsLocatorRestricted |getBooleanOnTruthy" ></app-common-dest-sub-inv-loc-selection>

              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
     
    </ng-container>
   
  </ng-container>

 
</ion-content>
