
  <ng-container *ngIf="subForm" [formGroup]="subForm">
    <ng-container *ngIf="fGName && subForm">
      <ng-container [formGroupName] = "fGName">
        <ng-container *ngFor="let control of listOfFormControls[fGName]">
          <ng-container *ngIf="control.DataSource != 'DestLocator' || control.DataSource == 'DestLocator' && !getDestSubInvControl.hasError('subInvIsInvalid')">
            <ng-container *ngIf="(control.DisplayType === 'text') || (control.DisplayType === 'number')">
  
              <ion-item >
                <ion-label *ngIf="subFormValues && subFormValues[control.DataSource]" position="floating" >{{control.Label}}</ion-label>
                <ion-input [type]="control.DisplayType" [placeholder]="control.Label" [formControlName]="control.DataSource"></ion-input>
              </ion-item>
            </ng-container>
            
            <!-- <ng-container *ngIf="control.DisplayType === 'dropdown'">
              <ion-item >
                <ion-label *ngIf="subFormValues && subFormValues[control.DataSource]" position="floating" >{{control.Label}}</ion-label>
                <ion-input [type]="control.DisplayType" [placeholder]="control.Label" [formControlName]="control.DataSource"></ion-input>
              </ion-item>
    
            </ng-container> -->
            <ng-container *ngIf="control.DisplayType === 'textdetail'">
              <ion-item>
                <!-- <ion-col col-3></ion-col>
                <ion-col col-6></ion-col>
                <ion-col col-3></ion-col> -->
                <ion-label *ngIf="subFormValues && subFormValues[control.DataSource]" position="floating" >{{control.Label}} detail arrow</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" (click)="check()"></ion-icon>
                <ion-input position="floating" [type]="'text'" [placeholder]="control.Label" [formControlName]="control.DataSource">
                
                </ion-input>
              </ion-item>
            </ng-container>
          </ng-container>
       
        </ng-container>
       
        
        <!-- <ion-item >
          <ion-label position="fixed" >Locator Label</ion-label>
          <ion-input [formControlName]="'Locator'"></ion-input>
        </ion-item> -->
  
      </ng-container>
    
    </ng-container>
  </ng-container>
  
